
{% if form.errors %}
<p>发生以下错误，请重新填写</p>
<ul>
{{ form.subject.errors }}
</ul>
{% endif %}


<form action="." method="post">{% csrf_token %}
    <ul>
        {% for i in form%}
        <li id="{{i.name}}" {% if i.name == "series" %} style = display:none {% endif %}> {{ i.label_tag }} {{i}}</li>
        {% endfor %}
    </ul>
    <input type="submit" value="开始估价" />
</form>

{% if price %}
<p>车辆估价为{{price}}</p>
{% endif %}



<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

    });
</script>






